<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-nb-map-component-attributes-heading"
        data-cy="NBMapComponentAttributesCreateUpdateHeading"
        jhiTranslate="nbSolarApp.nBMapComponentAttributes.home.createOrEditLabel"
      >
        Create or edit a NB Map Component Attributes
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBMapComponentAttributes.nbComponentIDFK" for="field_nbComponentIDFK"
            >Nb Component IDFK</label
          >
          <input
            type="text"
            class="form-control"
            name="nbComponentIDFK"
            id="field_nbComponentIDFK"
            data-cy="nbComponentIDFK"
            formControlName="nbComponentIDFK"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBMapComponentAttributes.nbComponentName" for="field_nbComponentName"
            >Nb Component Name</label
          >
          <input
            type="text"
            class="form-control"
            name="nbComponentName"
            id="field_nbComponentName"
            data-cy="nbComponentName"
            formControlName="nbComponentName"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBMapComponentAttributes.nbLastUpdated" for="field_nbLastUpdated"
            >Nb Last Updated</label
          >
          <input
            type="text"
            class="form-control"
            name="nbLastUpdated"
            id="field_nbLastUpdated"
            data-cy="nbLastUpdated"
            formControlName="nbLastUpdated"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBMapComponentAttributes.nbLastUpdatedBy" for="field_nbLastUpdatedBy"
            >Nb Last Updated By</label
          >
          <input
            type="text"
            class="form-control"
            name="nbLastUpdatedBy"
            id="field_nbLastUpdatedBy"
            data-cy="nbLastUpdatedBy"
            formControlName="nbLastUpdatedBy"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
