<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-nb-map-attributes-heading"
        data-cy="NBMapAttributesCreateUpdateHeading"
        jhiTranslate="nbSolarApp.nBMapAttributes.home.createOrEditLabel"
      >
        Create or edit a NB Map Attributes
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBMapAttributes.nbIDFK" for="field_nbIDFK">Nb IDFK</label>
          <input type="text" class="form-control" name="nbIDFK" id="field_nbIDFK" data-cy="nbIDFK" formControlName="nbIDFK" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBMapAttributes.nbTitle" for="field_nbTitle">Nb Title</label>
          <input type="text" class="form-control" name="nbTitle" id="field_nbTitle" data-cy="nbTitle" formControlName="nbTitle" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBMapAttributes.nbTitleLocation" for="field_nbTitleLocation"
            >Nb Title Location</label
          >
          <input
            type="text"
            class="form-control"
            name="nbTitleLocation"
            id="field_nbTitleLocation"
            data-cy="nbTitleLocation"
            formControlName="nbTitleLocation"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBMapAttributes.nbPaletteIDFK" for="field_nbPaletteIDFK"
            >Nb Palette IDFK</label
          >
          <input
            type="text"
            class="form-control"
            name="nbPaletteIDFK"
            id="field_nbPaletteIDFK"
            data-cy="nbPaletteIDFK"
            formControlName="nbPaletteIDFK"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBMapAttributes.nbChartIDFK" for="field_nbChartIDFK"
            >Nb Chart IDFK</label
          >
          <input
            type="text"
            class="form-control"
            name="nbChartIDFK"
            id="field_nbChartIDFK"
            data-cy="nbChartIDFK"
            formControlName="nbChartIDFK"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBMapAttributes.nbChartType" for="field_nbChartType"
            >Nb Chart Type</label
          >
          <input
            type="text"
            class="form-control"
            name="nbChartType"
            id="field_nbChartType"
            data-cy="nbChartType"
            formControlName="nbChartType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBMapAttributes.nbLastUpdated" for="field_nbLastUpdated"
            >Nb Last Updated</label
          >
          <input
            type="text"
            class="form-control"
            name="nbLastUpdated"
            id="field_nbLastUpdated"
            data-cy="nbLastUpdated"
            formControlName="nbLastUpdated"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBMapAttributes.nbLastUpdatedBy" for="field_nbLastUpdatedBy"
            >Nb Last Updated By</label
          >
          <input
            type="text"
            class="form-control"
            name="nbLastUpdatedBy"
            id="field_nbLastUpdatedBy"
            data-cy="nbLastUpdatedBy"
            formControlName="nbLastUpdatedBy"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
