<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-nb-map-components-heading"
        data-cy="NBMapComponentsCreateUpdateHeading"
        jhiTranslate="nbSolarApp.nBMapComponents.home.createOrEditLabel"
      >
        Create or edit a NB Map Components
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBMapComponents.nbIDFK" for="field_nbIDFK">Nb IDFK</label>
          <input type="text" class="form-control" name="nbIDFK" id="field_nbIDFK" data-cy="nbIDFK" formControlName="nbIDFK" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBMapComponents.nbComponentID" for="field_nbComponentID"
            >Nb Component ID</label
          >
          <input
            type="text"
            class="form-control"
            name="nbComponentID"
            id="field_nbComponentID"
            data-cy="nbComponentID"
            formControlName="nbComponentID"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBMapComponents.nbComponentType" for="field_nbComponentType"
            >Nb Component Type</label
          >
          <input
            type="text"
            class="form-control"
            name="nbComponentType"
            id="field_nbComponentType"
            data-cy="nbComponentType"
            formControlName="nbComponentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBMapComponents.nbComponentValue" for="field_nbComponentValue"
            >Nb Component Value</label
          >
          <input
            type="text"
            class="form-control"
            name="nbComponentValue"
            id="field_nbComponentValue"
            data-cy="nbComponentValue"
            formControlName="nbComponentValue"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBMapComponents.nbDefault" for="field_nbDefault">Nb Default</label>
          <input type="text" class="form-control" name="nbDefault" id="field_nbDefault" data-cy="nbDefault" formControlName="nbDefault" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBMapComponents.nbLastUpdated" for="field_nbLastUpdated"
            >Nb Last Updated</label
          >
          <input
            type="text"
            class="form-control"
            name="nbLastUpdated"
            id="field_nbLastUpdated"
            data-cy="nbLastUpdated"
            formControlName="nbLastUpdated"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBMapComponents.nbLastUpdatedBy" for="field_nbLastUpdatedBy"
            >Nb Last Updated By</label
          >
          <input
            type="text"
            class="form-control"
            name="nbLastUpdatedBy"
            id="field_nbLastUpdatedBy"
            data-cy="nbLastUpdatedBy"
            formControlName="nbLastUpdatedBy"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
