<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="nBMapComponentAttributes">
      <h2 data-cy="nBMapComponentAttributesDetailsHeading">
        <span jhiTranslate="nbSolarApp.nBMapComponentAttributes.detail.title">NB Map Component Attributes</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ nBMapComponentAttributes.id }}</span>
        </dd>
        <dt><span jhiTranslate="nbSolarApp.nBMapComponentAttributes.nbComponentIDFK">Nb Component IDFK</span></dt>
        <dd>
          <span>{{ nBMapComponentAttributes.nbComponentIDFK }}</span>
        </dd>
        <dt><span jhiTranslate="nbSolarApp.nBMapComponentAttributes.nbComponentName">Nb Component Name</span></dt>
        <dd>
          <span>{{ nBMapComponentAttributes.nbComponentName }}</span>
        </dd>
        <dt><span jhiTranslate="nbSolarApp.nBMapComponentAttributes.nbLastUpdated">Nb Last Updated</span></dt>
        <dd>
          <span>{{ nBMapComponentAttributes.nbLastUpdated }}</span>
        </dd>
        <dt><span jhiTranslate="nbSolarApp.nBMapComponentAttributes.nbLastUpdatedBy">Nb Last Updated By</span></dt>
        <dd>
          <span>{{ nBMapComponentAttributes.nbLastUpdatedBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/nb-map-component-attributes', nBMapComponentAttributes.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
