<div>
  <h2 id="page-heading" data-cy="NBChartHeading">
    <span jhiTranslate="nbSolarApp.nBChart.home.title">NB Charts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="nbSolarApp.nBChart.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-nb-chart"
        [routerLink]="['/nb-chart/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="nbSolarApp.nBChart.home.createLabel"> Create a new NB Chart </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="nBCharts?.length === 0">
    <span jhiTranslate="nbSolarApp.nBChart.home.notFound">No nBCharts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="nBCharts && nBCharts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="nbSolarApp.nBChart.nbChartID">Nb Chart ID</span></th>
          <th scope="col"><span jhiTranslate="nbSolarApp.nBChart.nbChartTitle">Nb Chart Title</span></th>
          <th scope="col"><span jhiTranslate="nbSolarApp.nBChart.nbChartType">Nb Chart Type</span></th>
          <th scope="col"><span jhiTranslate="nbSolarApp.nBChart.nbChartParams">Nb Chart Params</span></th>
          <th scope="col"><span jhiTranslate="nbSolarApp.nBChart.nbLastUpdated">Nb Last Updated</span></th>
          <th scope="col"><span jhiTranslate="nbSolarApp.nBChart.nbLastUpdatedBy">Nb Last Updated By</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nBChart of nBCharts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/nb-chart', nBChart.id, 'view']">{{ nBChart.id }}</a>
          </td>
          <td>{{ nBChart.nbChartID }}</td>
          <td>{{ nBChart.nbChartTitle }}</td>
          <td>{{ nBChart.nbChartType }}</td>
          <td>{{ nBChart.nbChartParams }}</td>
          <td>{{ nBChart.nbLastUpdated }}</td>
          <td>{{ nBChart.nbLastUpdatedBy }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/nb-chart', nBChart.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/nb-chart', nBChart.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(nBChart)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
