<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-nb-palette-heading" data-cy="NBPaletteCreateUpdateHeading" jhiTranslate="nbSolarApp.nBPalette.home.createOrEditLabel">
        Create or edit a NB Palette
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBPalette.nbPaletteID" for="field_nbPaletteID">Nb Palette ID</label>
          <input
            type="text"
            class="form-control"
            name="nbPaletteID"
            id="field_nbPaletteID"
            data-cy="nbPaletteID"
            formControlName="nbPaletteID"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBPalette.nbPaletteTitle" for="field_nbPaletteTitle"
            >Nb Palette Title</label
          >
          <input
            type="text"
            class="form-control"
            name="nbPaletteTitle"
            id="field_nbPaletteTitle"
            data-cy="nbPaletteTitle"
            formControlName="nbPaletteTitle"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBPalette.nbPaletteType" for="field_nbPaletteType"
            >Nb Palette Type</label
          >
          <input
            type="text"
            class="form-control"
            name="nbPaletteType"
            id="field_nbPaletteType"
            data-cy="nbPaletteType"
            formControlName="nbPaletteType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBPalette.nbPaletteColors" for="field_nbPaletteColors"
            >Nb Palette Colors</label
          >
          <input
            type="text"
            class="form-control"
            name="nbPaletteColors"
            id="field_nbPaletteColors"
            data-cy="nbPaletteColors"
            formControlName="nbPaletteColors"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBPalette.nbLastUpdated" for="field_nbLastUpdated"
            >Nb Last Updated</label
          >
          <input
            type="text"
            class="form-control"
            name="nbLastUpdated"
            id="field_nbLastUpdated"
            data-cy="nbLastUpdated"
            formControlName="nbLastUpdated"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="nbSolarApp.nBPalette.nbLastUpdatedBy" for="field_nbLastUpdatedBy"
            >Nb Last Updated By</label
          >
          <input
            type="text"
            class="form-control"
            name="nbLastUpdatedBy"
            id="field_nbLastUpdatedBy"
            data-cy="nbLastUpdatedBy"
            formControlName="nbLastUpdatedBy"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
